
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<!DOCTYPE html><html class=''>
<head><script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />
  <style class="cp-pen-styles">
  </style></head><body>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
<!--<link href="/assets/app/dist/css/lightbox.css" rel="stylesheet" />-->
<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<!--<link rel="stylesheet" src="/assets/app/files/css/lightbox.css" type="text/html" >-->
<!--<script type="text/javascript" src="../files/js/lightbox.min.js"></script>-->
<!--<script type="text/javascript" src="../files/js/jquery.js"></script>-->



<div id="frame">
  <div id="sidepanel" class="sidebar">


    <div id="profile" >
      <div class="wrap">
        <div class="profileImg">

          <!--<a  href="{{imgUrl}}" data-lightbox="img1" > <img   id="myImg" src="{{imgUrl}}" class="online" > </a>-->

          <img id="myImg" src="{{imgUrl}}" class="online" (click)="zoomImg(1)">

          <!-- The Modal -->


        <p>{{user[0].toUpperCase() + user.substr(1).toLowerCase()}}</p>
        </div>
        <div class="toggle-btn" (click)="toggleSidebar()">
          <img src="bars.png">

        </div>


      </div>
      <div id="myModal" class="modal">
        <span class="close" (click)="closeImg()">&times;</span>
        <img class="modal-content" id="img01" >

      </div>

    </div>
    <div class="border"></div>
    <div class="border"></div>
    <div class="border"></div>
    <!--<div id="search">-->
      <!--<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>-->
      <!--<input type="text" placeholder="Search contacts..." />-->
    <!--</div>-->
    <!--<div id="contacts"  *ngIf="chatData == 1">-->
      <!--<ul>-->
        <!--<li class="contact">-->
          <!--<div class="wrap">-->
            <!--<span class="contact-status online"></span>-->
            <!--<img src="{{FPurl}}" alt=" " />-->
            <!--<div class="meta">-->
              <!--<p class="name" *ngIf="chatData==1">{{chatDetails.to.name[0].toUpperCase() + chatDetails.to.name.substr(1).toLowerCase()}}</p>-->
              <!--<p class="preview" *ngIf="msgData == 1">{{messageArray[messageArray.length-1].message}}</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</li>-->

      <!--</ul>-->
    <!--</div>-->
    <div class="details" >

      <div class="profileDetails" *ngIf="chatData == 1" >
      <div class="data">
      <div class="img-fpp">
        <img src="{{FPimgUrl}}" alt=" " (click)="zoomImg(2)" >
      </div>
      <div class="keys">
        <ol>
        <li >Name:</li>
        <li >Gender:</li>
        <li >Age:</li>
        <li >Language:</li>
        </ol>
      </div>
      <div class="values">
        <ol>
          <li>{{FPname[0].toUpperCase() + FPname.substr(1).toLowerCase()}}</li>
          <li>{{FPgender}}</li>
          <li>{{FPage}}</li>
          <li>{{FPlanguage}}</li>
        </ol>
      </div>
      </div>


          <div class="leftImg" *ngIf="toggle == false">
            <img src="left.png" (click)="toggleSidebar()">
          </div>


      </div>

      <div class="directionArrow" *ngIf="chatData == 1">
        <div *ngIf="toggle == true;else left" >
          <img src="right.png" (click)="toggleSidebar()">

        </div>
        <!--<ng-template #left >-->
            <!--<img src="left.png" (click)="toggleSidebar()">-->

        <!--</ng-template>-->
      </div>

    </div>

    <div id="bottom-bar">

      <button id="Findcontact" (click)="find()" [disabled]="chatDataBol"><i class="fa fa-user-plus fa-fw" aria-hidden="true" ></i>  <span>Find</span></button>
      <button id="Leave" (click)="leave()" [disabled]="!chatDataBol"><i class="fa fa-user-times fa-fw" aria-hidden="true" ></i> <span>Leave</span></button>
      <button id="settings" (click)="settings()"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
      <button id="addcontact" (click)="logout()"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> <span>SignOut</span></button>
    </div>
  </div>
  <div class="content contentActive" *ngIf="chatData == 1">
    <div class="contact-profile" >
      <img  src="{{FPurl}}" alt="" />
      <p>{{chatDetails.to.name[0].toUpperCase() + chatDetails.to.name.substr(1).toLowerCase()}}</p>
      <li id="typing" >
        <p style="margin-left: 2%">Typing...</p>
      </li>

      <div class="social-media">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </div>
    </div>
    <div class="messages"
         #scrollMe style="overflow: scroll; height: messageArray.length() "
         *ngIf="msgData == 1" >
      <div *ngFor="let item of messageArray">
        <ul>
          <li class="replies" *ngIf=" item.user == user;else reply">
            <img src="{{imgUrl}}" alt="" />
            <p>{{item.message}}</p>
          </li>
          <ng-template #reply >
            <li class="sent">
              <img src="{{FPurl}}" alt="" />
              <p>{{item.message}}</p>
            </li>
          </ng-template>

        </ul>
      </div>
    </div>
    <div class="message-input">
      <div class="wrap">
        <input type="text" placeholder="Write your message..." #msg [(ngModel)]="messageText"
                 (keyup)="keyPress()" (keyup.enter)="sendMessage()"     />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button class="submit"><i class="fa fa-paper-plane" aria-hidden="true" (click)="sendMessage()"></i></button>
      </div>
    </div>
  </div>
  <div class="content"  *ngIf="chatData == 0">
    <div class="leftMessage">
      <p style="margin-top: 30%">{{leftMessage1.user}}{{leftMessage1.message}}</p>
      <p style="margin-top: 3%"> {{leftMessage}}</p>
    </div>
  </div>
  <div class="content" *ngIf="chatData == 2">
    <app-settings></app-settings>
  </div>

</div>



<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script><script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script >

  $(".messages").animate({ scrollTop : $().height() }, "fast");

$("#profile-img").click(function() {
  $("#status-options").toggleClass("active");
});

$(".expand-button").click(function() {
  $("#profile").toggleClass("expanded");
  $("#contacts").toggleClass("expanded");
});

$("#status-options ul li").click(function() {
  $("#profile-img").removeClass();
  $("#status-online").removeClass("active");
  $("#status-away").removeClass("active");
  $("#status-busy").removeClass("active");
  $("#status-offline").removeClass("active");
  $(this).addClass("active");

  if($("#status-online").hasClass("active")) {
    $("#profile-img").addClass("online");
  } else if ($("#status-away").hasClass("active")) {
    $("#profile-img").addClass("away");
  } else if ($("#status-busy").hasClass("active")) {
    $("#profile-img").addClass("busy");
  } else if ($("#status-offline").hasClass("active")) {
    $("#profile-img").addClass("offline");
  } else {
    $("#profile-img").removeClass();
  };

  $("#status-options").removeClass("active");
});

function newMessage() {
  message = $(".message-input input").val();
  if($.trim(message) == '') {
    return false;
  }
  $('<li class="sent"><img src="http://emilcarlsson.se/assets/mikeross.png" alt="" /><p>' + message + '</p></li>').appendTo($('.messages ul'));
  $('.message-input input').val(null);
  $('.contact.active .preview').html('<span>You: </span>' + message);
  $(".messages").animate({ scrollTop: $(document).height() }, "fast");
};

$('.submit').click(function() {
  newMessage();
});

$(window).on('keydown', function(e) {
  if (e.which == 13) {
    newMessage();
    return false;
  }
});
</script>
<!--<script>-->
  <!--// Get the modal-->
  <!--var modal = document.getElementById("myModal");-->

  <!--// Get the image and insert it inside the modal - use its "alt" text as a caption-->
  <!--var img = document.getElementById("myImg");-->
  <!--var modalImg = document.getElementById("img01");-->
  <!--img.onclick = function(){-->
    <!--modal.style.display = "block";-->
    <!--modalImg.src = this.imgUrl;-->
  <!--}-->

  <!--// Get the <span> element that closes the modal-->
  <!--var span = document.getElementsByClassName("close")[0];-->

  <!--// When the user clicks on <span> (x), close the modal-->
  <!--span.onclick = function() {-->
    <!--modal.style.display = "none";-->
  <!--}-->
<!--</script>-->

<!--<script type="text/javascript" src="../dist/js/lightbox-plus-jquery.js"></script>-->
</body>
</html>
