.container1{

width: 95%;
height: 97%;
margin-left: 2.5%;
margin-top: 1.5%;
background-color: white;
/*font-family: 'Lobster', cursive;*/
font: inherit;
}
/* Site Navigation Start*/


.site-nav{
width: 100%;
}

.site-nav ul{
margin: 0;
text-align: center;
margin-left: 30%;
padding: 2%;
box-sizing: border-box;


}
.actualImg img-cropper span .ng2-imgcrop{
width: 200px;
height: 200px;
}
.site-nav li{
list-style: none;
float: left;
margin-left: 3%;

}

.site-nav a {
color: #32465a;
display: block;
padding: 10px 20px;
text-decoration: none;
border: 3px solid #32465a;
transition-property: color, background-color;
transition-duration: 2s;
}
.back-button{
margin-left: 10px;
margin-top: 10px;
}

#matchSettings{
display: block;
}
.matchSettings .heading h2{
font-size: 30px;
font-weight: bold;
font-family: 'Lobster', cursive;
text-align: center;
margin-top: 3%;

}
.inputs .gender p {
margin-top: 5%;
font-size: 25px;

text-align: left;

}
.inputs {
margin-left: 10%;
}

.inputs .age p{

margin-top: 3%;
font-size: 25px;
text-align: left;

}

.inputs .language p{
margin-top: 3%;
font-size: 25px;
text-align: left;

}
.saveButton{
margin-top: 5%;
margin-left: 10%;
float: left;
}
.matchSettings .caution p{
margin-left: 10%;
margin-top: 2.5%;
width: 60%;
color: #999999;
font-size: 12px;
}
#userSettings{
display: none;
}

/* User Settings */
div.inputs{
height: 60%;
overflow: auto;
}
.upload .actualImg{
width: 50%;
height: 40%;
float: left;
margin-right: 5%;
}
.upload .previewImg{
width: 30%;
}
img-cropper{
width: 200px;
width: 200px;
}
.userSettings .heading h2{
font-size: 30px;
font-weight: bold;
text-align: center;
margin-top: 3%;

}
.inputs .upload p {
margin-top: 1%;
font-size: 25px;
text-align: left;
margin-bottom: 2%;

}

.group:before,
.group:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.group:after {
clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.group {
zoom: 1;
}

